<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{pyro:theme:partial name="metadata"}
</head>
<body>
<div class="ez-mw" id="pagecontainer">
  <div class="ez-wr" id="header">
      <div id="logo">
        <a href="{pyro:url:site}">{pyro:theme:image file="logo.png" alt="Logo Sustentabilis" }</a>
      </div>
      <div id="nav">
        {pyro:navigation:links group="header" tag="span" class="selected"}
      </div>
  </div>
  <div class="ez-wr" id="maincontainer">
  {pyro:template:body}
  </div>
</div>				
</body>
</html>
