/* CSS Document */

body {
	background-color:#222222;
	color:#fff;
}

a {
	color:#ffffff;
}

/* correcciones a baseline.css */
p + p {
text-indent: 0;
margin-top: 1em;
}

h3 {
  margin-bottom: 18px;
}

hr {
	height:1px;
	background: #888;
	margin-top: 6px;
}

ul {
	margin-top:6px;
}
/* correcciones a baseline.css */


#pagecontainer {
	width:984px;
}

#header{
	height:80px;
	margin-bottom:18px;
}

#logo {
	width:365px;
	margin-top:12px;
	float:left;
}

/* Top navigation */
div#nav {
	float: right;
	width:600px;
	text-align:right;
	margin-top:62px;
}

#nav a {
	text-decoration:none;
	padding: 49px 20px 20px 20px;
}

#nav a:hover {
	background-color: #333;
}

#nav a.selected {
	background-color: #181818;
}



div#maincontainer{
	background:#222222 url(img/mainbg.png) repeat-x;
	width:897px;
	padding:44px;
}

div#fptitle{
    font: 'Raleway', sans-serif;
	margin: 25px 0;
}

div#fptitle h2{
    font: 'Raleway', sans-serif;

}

div#fptext{
	margin-bottom:50px;
}

#fptext .ez-fl{
	width:273px;
	margin-right:39px;
}
	
.greentext {
	color:#88983E;
}

/* JAC Carrousel Frontpage  */

.myJac .jac-content
{
   width:311px;
   /*width:272px;
   margin-right:38px;*/
} 

.myJac .arrow-left, .myJac .arrow-right
{
 position:absolute;
 bottom:5px;
 z-index:5;
 height:50px;
 width:40px;
 opacity: 100;
}
.myJac .arrow-left a, .myJac .arrow-right a
{
 display:block;
 height:50px;
 width:40px;
 text-indent:-999em;
}
.myJac .arrow-left a:focus, .myJac .arrow-right a:focus
{
 outline:none;
}
.myJac .arrow-left
{
 left:-20px;
 background:url(img/jac-arrows.png) no-repeat center left;
}
.myJac .arrow-right
{
 right:-20px;
 background:url(img/jac-arrows.png) no-repeat center right;
}

/* JAC Carrousel  for products*/

.myJacP .jac-content
{

}

#prods_full_carrousel .jac {
	height: 286px;
}

.myJacP .arrow-left, .myJacP .arrow-right
{
 position:absolute;
 bottom:5px;
 z-index:5;
 height:50px;
 width:40px;
 opacity: 100;
}
.myJacP .arrow-left a, .myJacP .arrow-right a
{
 display:block;
 height:50px;
 width:40px;
 text-indent:-999em;
}
.myJacP .arrow-left a:focus, .myJacP .arrow-right a:focus
{
 outline:none;
}
.myJacP .arrow-left
{
 left:-20px;
 background:url(../images/jac-arrows.png) no-repeat center left;
}
.myJacP .arrow-right
{
 right:-20px;
 background:url(../images/jac-arrows.png) no-repeat center right;
}

/*
*
* Form Elements
*/
input, textarea {
	background-color:#464942;
	border: solid 1px black;
	width:258px;
}

input {	
	height:28px;
}

textarea {
	height:84px;
}

label {
	float:left;
	width: 70px;
}

input.submit {
	background: none;
	border: none;
	color: #88983E;
	font-size: 13px;
	width:auto;
}

input.submit:hover {
	background-color: #333;
}

/* Contact page*/
div#adrres_us {
	width: 260px;
	float: left;
}

div#adrres_mx {
	width: 260px;
	float: left;
}

div#contact_form{
	width: 370px;
	float:left;
}

div#contact_form form li{
	float: left;    
	clear: left;    
	width: 100%;    
	padding-bottom: 1em; 
	list-style: none;  
}

div#contact_form form li.form_buttons{
	padding-left:70px;
}

/*Error box */
div.error-box p {
	display:list-item;
	list-style:disc;
	font-size:12px;
	margin:0px;
	color: #C33;
}

div.error-box {
	margin-bottom:18px;
}

/* Product page */

div.prods_headerimg {
	float:left;
	width:585px;
}

div.prods_headerside {
	float:right;
	width:272px;
}

div.prods_headerside #titlediv  {
	margin-bottom:12px;
}
div.prods_headerside #typesel {
	margin-bottom:24px;
}

div.prods_headerside #typesel a {
	text-decoration:none;
	font-size: 14px;
}

div.prods_headerside #typesel img {
	margin-bottom:-1px;
}

div.prods_headerside #descrdiv {
	/*overflow:auto;*/
}

div#prods_breadcrumb {
	clear:both;
	width:100%;
	margin-bottom:12px;
	margin-top:-19px;
}

div#prods_breadcrumb a {
	font-size: 0.875em;
	text-decoration: none;
	color:#ccc;
}

div#prods_breadcrumb a:hover {
	color:#fff;
	text-decoration:underline;
}

div.prods_catalog  {
	width:936px;
	clear:both;
	padding-top:30px;
}

div.prods_catalog_item {
	float:left;
	height:163px;
	width:273px;
	margin: 0 38px 30px 0;

}

div.prods_catalog_item_title {
	position: relative;
	top: -52px;
	padding: 0 7px;
	background: #222222;
	width: 233px;
	height:44px;
}

div.prods_catalog_item_title span {
	display: table-cell;
	vertical-align: middle;
	height:44px;
	text-transform:uppercase;
}

div.prods_catalog_item_title a {
	text-decoration: none;
}
 /* Vista de Producto detail_1 */


div.prods_detail_1  {
	width:897px;
	clear:both;
	padding-top:30px;
	text-align:justify;
}

div.prods_detail_1  p{
	text-align:justify;
}

div.prods_detail_1 div.prods_thumb {
	width:273px;
	margin: 0 0 30px;

}


div.prods_detail_1 #thumb_container {
	float:right;
	width:273px;
	margin-left:38px;
}

 /* front page featured items */
div.prods_featured_item {
	height:163px;
	width:273px;
	margin: 0 38px 30px 0;

}

div.prods_featured_item_title {
	padding: 0 7px;
	background: #222222;
	width: 233px;
	height:44px;
}

div.prods_featured_item span {
	display: table-cell;
	vertical-align: middle;
	height:44px;
	text-transform:uppercase;
}

div.prods_featured_item_title a {
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
}

div#maincontainer h2{
  font-family: 'Raleway', serif;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2;
}

div.prods_headerside h2,
div#titlediv h2 {
  font-family: 'Raleway', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  margin-top:-9px;
  border-bottom: 1px solid gray;
}

a.divthumb img{
	margin-right:16px;
}