<!-- Meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Javascript  -->
{pyro:theme:js file="jquery.js"}
{pyro:theme:js file="jquery.jac.js"}
{pyro:theme:js file="jquery.fancybox-1.3.4.pack.js"}

<!-- pyroCMS metadata -->
{pyro:template:metadata}
<title>{pyro:settings:site_name} &bull; {pyro:template:title}</title>
    
<!-- favicon -->    
<link rel="SHORTCUT ICON" href="http://www.eshopmx.com/sustentabilis/favicon.ico"  type="image/x-icon" />
<!-- CSS Stylesheets -->
{pyro:theme:css file="baseline.reset.css"}
{pyro:theme:css file="baseline.base.css"}
{pyro:theme:css file="baseline.type.css"}
{pyro:theme:css file="ez.css"}

{pyro:theme:css file="jquery.fancybox-1.3.4.css"}
{pyro:theme:css file="jquery.jac.css"}

{pyro:theme:css file="main.css"}
<link href="//fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css" >

